<div class="clearfix" ng-controller="Umbraco.Cloud.PublicAccessController as vm">
    <umb-editor-view footer="false" ng-show="!vm.loading">
        <umb-editor-header name="vm.pageTitle"
                           name-locked="true"
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true">
            
        </umb-editor-header>
        <umb-editor-container>

            <umb-box>
                <umb-box-header title="Infomation"></umb-box-header>
                <umb-box-content>
                    <p>Shows an overview of the setting for Public Access for this site</p>
                </umb-box-content>
            

            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width:50%;">Setting</th>
                    <th style="width:50%;">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Is Public Access Feature Enabled</td>
                    <td>{{vm.data.Enabled ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                    <td>Redirect to Umbraco Id login</td>
                    <td>{{vm.data.RedirectToLoginPage ? 'Yes' : 'No'}}</td>
                </tr>
                </tbody>
            </table>
                <umb-box-content>
                    <p>You can edit the settings in the 
                    <umb-button
                        action="vm.cloudButton()"
                        type="button"
                        state="init"
                        buttonstyle="link"
                        icon="icon-link"
                        label="Cloud Portal"
                    ></umb-button></p>
                </umb-box-content>
            </umb-box>
            
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Allowed IPs and ranges</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ip in vm.data.AllowedIPs track by $index">
                    <td ng-value="{{$index}}">{{ip}}</td>
                </tr>
                <tr ng-if="vm.data.AllowedIPs.length === 0 || vm.data.AllowedIPs === undefined">
                    <td style="color: #CCC;">None registered</td>
                </tr>
                </tbody>
            </table>
            
        </umb-editor-container>
    </umb-editor-view>
</div>